</div>
<!--Close of the page-wrap-->

<footer id="footer" class="footer">
<div class="container">
  <div class="text-center">
    YelpCamp™ 2016 - Created by
    <a href="https://github.com/Lilyheart/yelp-camp">
      Lily Romano
    </a>
    as part of
    <a href="https://www.udemy.com/the-web-developer-bootcamp/" target="_blank">
      Colt Steele's Web Developer Bootcamp
    </a>
  </div>
</div>
</footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>