</div>  <!--Close of the page-wrap-->

<footer id="footer">
    <div class="container">
        <div class="text-center">
            YelpCamp™ 2016 - Created by 
            <a href="https://github.com/Lilyheart">
                Lily Romano
            </a>
            as part of 
            <a href="https://www.udemy.com/the-web-developer-bootcamp/" target="_blank">
                Colt Steele's Web Developer Bootcamp
            </a>
        </div>
    </div>
</footer>
</body>
</html>