<% include partials/header %>

    <div class="container">
        <h1 class="jumbotron">Landing!</h1>
        
        <a href="/campgrounds">View all campgrounds</a><br>
    </div>
<% include partials/footer %>