<% include partials/header %>

<div class="container">
  <h1 class="jumbotron">Sign-up form</h1>
  <div style="width: 30%; margin: 25px auto;">
    <form action="/register" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="username" name="username">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" placeholder="password" name="password">
      </div>
      <div class="form-group">
        <button class="btn btn-large btn-primary btn-block">Register!</button>
      </div>
    </form>
  </div>
</div>

<% include partials/footer %>