<% include partials/header %>

    <div class="container">
    
    <h1><%= campground.name %></h1>
    <img src="<%= campground.image %>">
    <p><%= campground.description %></p>
    
    <a href="/campgrounds">Go Back</a>
    
    </div>

<% include partials/footer %>
